<!DOCTYPE html>
<html>
<head>
	<title>Friends</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
	<header key="splash_screen">
		<div class="App-header" onclick="window.location.href='/user'" style="cursor:pointer;">
			SocialScene
		</div>
		<div class="header_div" style="align-content: center;">
			<br/>Manage Friends<br/><br/>
		</div>
	</header>
	<br/><br/>	
	<table style="width: 75%;" align="center">
		<tr>
			<td>
				<div class="login_body" id="outerdiv" align="center">
					<br/><br/>
						Search for a Friend <br/>
					<br/>
				
					<form action="/searchfriends" method="post">
					<table name="login_table" align="center">
						<tbody align="center" style="padding: 2px;">
						<tr>
							<td>First Name:</td>
						</tr>
						<tr>
							<td><input type="text" name="fname" required /> </td>
						</tr>
						<tr>		
							<td>Last Name:</td>
						</tr>
						<tr>
							<td><input type="text" name="lname" required /> </td>
						</tr>
						</tbody>
					</table>
					<span id="chkermsg" style="display:none;font-size:calc(4px + 2vmin)" ></span>
					<br/>
					<br/>
						<button id="submitbutton"> Search </button>
					</form>
					
				</div>
			</td>
			<td>
				<% var n = results.length;%>
				<% if (n == 0) { %>
					<div class="login_body" id="outerdiv" align="center">
							<br/><br/><br/><br/><br/><br/>
								No Pending Friend Requests<br/>
							<br/>
				<%}else{%>
				<div class="login_body" id="outerdiv" align="center">
					<br/><br/>
						Pending Friend Requests<br/>
					<br/>
				<!-- listing out the data -->
				
				<% for (var i=0; i<n ; i++) { %>

				<div class='collectionFriends' style=" display: inline-block;">
					<% r = results[i]; %>
					<% if (r.email == user.email){%>
					<%}else{%>
						
					<form action="/FriendRequest" method="post">
					<div class="user_box" style="height: 100px; width: 240px; padding: 10px;">
						<div style="padding: 5px">
							<%= r.fname1 %> <%= r.lname1 %> 
						</div>
						<div style="font-size: 14px; font-weight: 200">
							<%= r.email1 %>
						</div>
						<input type="submit" id="Accept" onclick="sendFriendRequest('<%= r.fname %>', '<%= r.lname %>', '<%= r.email %>', '<%= user.fname %>', '<%= user.lname %>', '<%= user.email %>')" class="button user_div_user_bttn" style="width: 100px; margin: 14px; text-align: center" value="Accept"></input>
						<input type="submit" id="Reject" onclick="sendFriendRequest('<%= r.fname %>', '<%= r.lname %>', '<%= r.email %>', '<%= user.fname %>', '<%= user.lname %>', '<%= user.email %>')" class="button user_div_user_bttn" style="width: 100px; margin: 14px; text-align: center" value="Reject"></input>
						
						<!-- Send Values to index.js to add to friends table in db -->
						<input style="display:none" type="fname1" id="fname1" name="fname1" value="<%= user.fname %>"/>
						<input style="display:none" type="lname1" id="lname1" name="lname1" value="<%= user.lname %>"/>
						<input style="display:none" type="email1" id="email1" name="email1" value="<%= user.email %>"/>

						<input style="display:none" type="fname2" id="fname2" name="fname2" value="<%= r.fname %>"/>
						<input style="display:none" type="lname2" id="lname2" name="lname2" value="<%= r.lname %>"/>
						<input style="display:none" type="email2" id="email2" name="email2" value="<%= r.email %>"/>

						<input style="display:none" type="value" id="value" name="value" value=""/>
					</div>
					</form>
				</div>
				<%};%>
				<%};%>
				<% }; %>



				</div>
			</td>
		</tr>
	</table>
	<br/>
	<div>
		<button  align="center" class="button submit_button" onclick="window.location.href='/user'"> Back </button>
	</div>
</body>
</html>