<!DOCTYPE html>
<html>
<head>
	<title>Friends</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
	<header key="splash_screen">
		<div class="App-header" onclick="window.location.href='/user'" style="cursor:pointer;">
			SocialScene
		</div>
		<div class="header_div" style="align-content: center;">
			<br/>Friend List<br/><br/>
		</div>
	</header>
    <br/><br/>	
    <% var n = results.length;%>
	<% var count = 0;%>
	<table style="color: white" align="center">
        <% for (var i=0; i<n ; i++) { %>
            <% r = results[i]; %>
        
            <% if (count % 4 == 0) {%>
                <tr>
            <%};%>
                <% count++;%>
                    <td style="text-align: center; color: white">
                        <form action="/FriendRequest2" method="post">
                            <div class="user_box">
                                <div style="padding: 5px">
                                    <%= r.fname2 %> <%= r.lname2 %> 
                                </div>
                                <div style="font-size: 14px; font-weight: 200">
                                    <%= r.email2 %>
                                </div>
                                <input type="submit" id="friend_bttn<%= i %>" onclick="sendFriendRequest2('<%= i %>')" class="button user_div_user_bttn" style="width: 150px; margin: 14px; text-align: center" value="Remove Friend"></input>
                                
                                <!-- Send Values to index.js to add to friends table in db -->
                                <input style="display:none" type="fname1" id="fname1" name="fname1" value="<%= user.fname %>"/>
                                <input style="display:none" type="lname1" id="lname1" name="lname1" value="<%= user.lname %>"/>
                                <input style="display:none" type="email1" id="email1" name="email1" value="<%= user.email %>"/>
    
                                <input style="display:none" type="fname2" id="fname2" name="fname2" value="<%= r.fname2 %>"/>
                                <input style="display:none" type="lname2" id="lname2" name="lname2" value="<%= r.lname2 %>"/>
                                <input style="display:none" type="email2" id="email2" name="email2" value="<%= r.email2 %>"/>
    
                                <input style="display:none" type="value" id="value<%= i %>" name="value" value=""/>
                            </div>
                        </form>
                    </td>
            <% if (count % 4 == 4) {%>
                </tr>
            <%};%>
        
        <% }; %>
    </table>
	<br/>
	<div>
        <button  align="center" class="button submit_button" onclick="window.location.href='/friends'"> Friends </button>
        &nbsp; &nbsp;
        <button  align="center" class="button submit_button" onclick="window.location.href='/user'"> Home </button>
	</div>
</body>
</html>
