<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
	<button onclick="window.location.href='/tmdb'">Back to Main </button>	<!-- button back to home -->
	<h1> Search Results</h1>
	<% if (data.length == 0){%>
		<p style="color: red">There are no results to display. Please try a different keyword </p>
	<%}else{%>
		<p>Now Displaying <span style="color: red;"><%=data.length%></span> Results.</p>
	<%};%>
	<ul>
		<!-- listing out the data -->
		<% data.forEach(function(r) { %>
		<li>ID :<%= r.id %><br>
			Title :<%= r.title %><br>
			Description: <%= r.overview %><br>
			Poster_path: <%= r.poster_path %></li>
		    <% }); %>
	</ul>
</body>
</html>
