<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body style="float: left;display: inline-block;">
	<%const base = 'https://image.tmdb.org/t/p/w154';%>
	<button onclick="window.location.href='/tmdb'">Back to Main </button>	<!-- button back to home -->
	<h1> Search Results</h1>
	<% if (total_results == 0){%>
		<p style="color: red">There are no results to display. Please try a different keyword </p>
	<%}else{%>
		<p>Now Displaying <span style="color: red;"><%=results.length%></span> Results.</p>
	<%};%>
	<!-- listing out the data -->
	<% results.forEach(function(r) { %>
	<div style=" display: inline-block;">
		<%= r.name %><br>
		<%if(r.poster_path == null){%>
			<img src = '/noimg.jpg'>
		<%}else{%>
			<%var url = base + r.poster_path%>
			<img src= '<%=url%>'>
		<%};%>
	</div>
	<% }); %>
	<div style="margin-top: 10px;">
		<p>page <%=page%></p>
		<% if (results.length != 0){%>
				<table width="100%">
			<td>
				<form method="post">
					<input type="hidden" name="keyword_prev" value="<%=key%>">
					<input type="hidden" name="pg_prev" value="<%=page-1%>">
					<%if(page > 1){%>
						<button formaction="/prevtv">previous</button>
					<%};%>
				</form>
			</td>
			<td style="text-align: right;">
				<form method="post">
					<input type="hidden" name="keyword" value="<%=key%>">
					<input type="hidden" name="pg" value="<%=page+1%>">
					<%if(page < total_pages){%>
						<button formaction="/searchtv">next</button>
					<%};%>
				</form>
			</td>
		</table>
		<%};%>
	</div>
</body>
</html>
