<!DOCTYPE html>
<html>
<head>
	<title>Friends</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
<header key="splash_screen">
		<div class="App-header" onclick="window.location.href='/user'" style="cursor:pointer;">
			SocialScene
		</div>
		<div class="header_div" style="align-content: center;">
			<% if (results.length == 0 || (results.length == 1 && results[0].email == user.email)){%>
				<p style="color: red">There are no results to display.<br/>Please try a different keyword </p>
			<%}else{%>
				<p>Now Displaying <span style="color: red; font-weight: bold"><%=results.length%></span> Search Results</p>
			<%};%>
		</div>
	</header>
	<br/><br/>
	<% if (results.length == 0 || (results.length == 1 && results[0].email == user.email)){%>
		<br/>
		<div class="login_body" id="outerdiv">
				<br/><br/>
					Please Enter a New<br/>Search for a Friend <br/>
				<br/>
			
				<form action="/searchfriends" method="post">
				<table name="login_table" align="center">
					<tbody align="center" style="padding: 2px;">
					<tr>
						<td>First Name:</td>
					</tr>
					<tr>
						<td><input type="text" name="fname" required /> </td>
					</tr>
					<tr>		
						<td>Last Name:</td>
					</tr>
					<tr>
						<td><input type="text" name="lname" required /> </td>
					</tr>
					</tbody>
				</table>
				<span id="chkermsg" style="display:none;font-size:calc(4px + 2vmin)" ></span>
				<br/>
				<br/>
					<button id="submitbutton"> Search </button>
				</form>
				<br/>
				<div>
					<button class="button submit_button" onclick="window.location.href='/user'"> Back to Main</button>
				</div>
			</div>
	
	<%}else{%>
	
	<!-- listing out the data -->
	<% var n = results.length;%>
	<% for (var i=0; i<n ; i++) { %>
	
	<div class='collectionFriends' style=" display: inline-block;">
		<% r = results[i]; %>
		<% if (r.email == user.email){%>
		<%}else{%>
			
		<form action="/FriendRequest" method="post">
		<div class="user_box" style="height: 100px; width: 240px; padding: 10px;">
			<div style="padding: 5px">
				<%= r.fname %> <%= r.lname %> 
			</div>
			<div style="font-size: 14px; font-weight: 200">
				<%= r.email %>
			</div>
			<input type="submit" id="friend_bttn" onclick="sendFriendRequest('<%= r.fname %>', '<%= r.lname %>', '<%= r.email %>', '<%= user.fname %>', '<%= user.lname %>', '<%= user.email %>')" class="button user_div_user_bttn" style="width: 150px; margin: 14px; text-align: center" value="Send Friend Request"></input>
			
			<!-- Send Values to index.js to add to friends table in db -->
			<input style="display:none" type="fname1" id="fname1" name="fname1" value="<%= user.fname %>"/>
			<input style="display:none" type="lname1" id="lname1" name="lname1" value="<%= user.lname %>"/>
			<input style="display:none" type="email1" id="email1" name="email1" value="<%= user.email %>"/>

			<input style="display:none" type="fname2" id="fname2" name="fname2" value="<%= r.fname %>"/>
			<input style="display:none" type="lname2" id="lname2" name="lname2" value="<%= r.lname %>"/>
			<input style="display:none" type="email2" id="email2" name="email2" value="<%= r.email %>"/>

			<input style="display:none" type="value" id="value" name="value" value=""/>
		</div>
		</form>
	</div>
	<%};%>
	<% }; %>

	<br/><br/>

		<div align="center" style="position:relative; bottom:0; margin:auto; text-align: center">
			<button onclick="window.location.href='/friends'" style="width: 175px;">Back to Search</button>
			&nbsp;
			<button onclick="window.location.href='/user'" style="width: 175px;">Back to Main</button>
		</div>
	<%};%>
	
</body>
</html>


<script>
	function sendFriendRequest(fname2, lname2, email2, fname1, lname1, email1) {
		// console.log("entered sendFriendRequest")
		// console.log(fname2, lname2, email2, fname1, lname1, email1)
		var elem = document.getElementById("friend_bttn")
		var elemValue = document.getElementById("value")
		// console.log(elem.value)
		if (elem.value == "Send Friend Request") {
			elemValue.value = "Send Friend Request"
			elem.value = "Cancel Request"
		}
		else { /* value == "Cancel Request" */
			elemValue.value = "Cancel Request"
			elem.value = "Send Friend Request"
		}
	}
</script>

<!-- "sendFriendRequest(<%= r.fname %>, <%= r.lname %>, <%= r.email %>, <%= user.fname %>, <%= user.lname %>, <%= user.email %>)" -->
<!-- fname2, lname2, email2, fname1, lname1, email1 -->