<!DOCTYPE html>
<html>
<head>
	<title>Summary</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
	<%console.log(email_gl.email)%>
	<%const url = 'https://image.tmdb.org/t/p/w185'+poster;%>
	<h1> SocialScene </h1>
	<h2> Summary </h2>
	<table width="100%">
		<td>
			<button onclick="window.history.back()">Back to Search </button>	<!-- button back to results-->
		</td>
		<td style="text-align: right;">
			<button onclick="window.location.href='/user'">Back to Main </button><!-- button back to home -->
		</td>
	</table>
	<table class="display">
		<td style="min-width: 20%; text-align: center; align-items: center;">
			<%if(poster == ''){%>
				<img src = '/noimg.jpg'>
			<%}else{%>
				<img src= '<%=url%>'>
			<%};%>
			<p><%=title%></p>
		</td>
		<td style="padding-left: 20px">
			<!-- overview -->
			<%if(overview == ''){%>
				<p>Overview: N/A</p>
			<%}else{%>
				<p>Overview: <%=overview%></p>
			<%};%>
			<!-- poster -->
			<%if(date == ''){%>
				<p>Release Date: N/A</p>
			<%}else{%>
				<p>Release Date:<%=date%></p>
			<%};%>
			<!--  -->
			<%if(language == ''){%>
				<p>Original language: N/A</p>
			<%}else{%>
				<p>Original language: <%=language%></p>
			<%};%>
			<table>
				<td>Votes: (Not yet implemented)</td>
				<td>Ratings: (Not yet implemented)</td>
			</table>
		</td>
	</table>
	<form>
		<p>Reviews (INCOMPLETE)</p>
		Title:<input type="text" name="title" value='<%=title%>' disabled>
		<!-- Email:<input type="text" name="email" value ='document.getelementbyid("email")'> -->
	</form>
</body>
</html>