<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Social Scene</title>
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
  <div id="outerdiv" >
    <header className="App-header" key="splash_screen">
      <h1> SocialScene </h1>
      <h2 style="text-align: left;margin-left: 30px;"> 
        Welcome <%= fname %> <%= lname %>,
        <button onclick="window.location.href='/logout'" style="width: 150px; height:40px; float: right;"> Logout </button>
        <button onclick="window.location.href='/edituser'" style="width: 150px; height:40px; margin-right: 20px; float: right;"> Edit Info </button>
      </h2>

      <div style="display: inline-block;float: right;">
      <!-- a search box -->
        <form method= 'post' style="padding: 10px;">
          <input type="text" name="keyword" placeholder =" Enter Keyword to search" style="width: 300px" required>
          <input type="hidden" name="pg" value="1">
          <table>
            <td><button style="width: 150px; height: 35px; font-size : 18px;" formaction="/searchmv">Search Movies</button></td>
            <td><button style="width: 150px; height: 35px; font-size : 18px;" formaction="/searchtv">Search TV</button></td>
          </table>
        </form>
      </div>

      <strong> Your Reviews </strong>
      <table class="display" style="border-collapse: collapse;">
        <th style="padding-left: 10px;padding-right: 10px;border: 2px solid black"> Movie&nbsp;Name </th>
        <th style="padding-left: 10px;padding-right: 10px; border: 2px solid black"> Rating </th>
        <th style="padding-left: 10px;padding-right: 10px; border: 2px solid black"> Review </th>
        <% rows.forEach(function(r) { %>
        <tr style="padding-left: 10px;padding-right: 10px;border: 2px solid black">
            <td style="padding-left: 10px;padding-right: 10px"><%= r.title %></td>
            <td style="padding-left: 10px;padding-right: 10px;border: 2px solid black"><%= r.rating %></td>
            <td style="padding-left: 10px;padding-right: 10px;border: 2px solid black"><%= r.review %></td>
        </tr>
          <% }); %>
      </table>

    </header>
  </div>
</body>
</html>