<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Social Scene</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
  <header key="splash_screen">
    <div class="App-header" onclick="window.location.href='/user'" style="cursor:pointer;">
      SocialScene
    </div>
    <div class="header_div">
    <table class="user_div_table">
        <tr>
          <td style="font-size: 20px;" align="left">
            <table>
              <tr>
                <td colspan="3" align="center">
                  <%= user.fname %> <%= user.lname %><br/>
                </td>
              </tr>
              <tr>
                <td><button class="button user_div_user_bttn1" onclick="window.location.href='/logout'"> Logout </button></td>
                <td><button class="button user_div_user_bttn1" onclick="window.location.href='/edituser'"> Edit Info </button></td>
                <td><button class="button user_div_user_bttn1" onclick="window.location.href='/friends'"> Friends </button></td>
              </tr>
            </table>
          </td>
          <td></td>
          <td rowspan="2">
              <div style="display: inline-block;float: right;">
              <!-- a search box -->
                <form method= 'post'">
                  <input type="text" name="keyword" placeholder =" Enter Keyword to search" style="border-radius: 10px; width: 200px" required>
                  <input type="hidden" name="pg" value="1">
                  <table style="margin:auto;" align="center">
                    <td><button class="button user_div_user_bttn" formaction="/searchmv">Search Movies</button></td>
                    <td><button class="button user_div_user_bttn" formaction="/searchtv">Search TV</button></td>
                  </table>
                </form>
              </div>
          </td>
        </tr>
      </table>
    </div>
  </header>

  <br/>
  <div>
    <strong> Your Reviews </strong>
    <form method= 'post'" style="cursor:pointer;" ></form>
      <table class="display_box">
        <th style="padding-left: 10px;padding-right: 10px;border: 2px solid white"> Movie&nbsp;Name </th>
        <th style="padding-left: 10px;padding-right: 10px; border: 2px solid white"> Rating </th>
        <th style="padding-left: 10px;padding-right: 10px; border: 2px solid white"> Review </th>
        <% results.forEach(function(r) { %>
        
        <tr style="padding-left: 10px;padding-right: 10px;border: 2px solid white" onclick="window.location.href='/searchmv'">
          
            <td style="padding-left: 10px;padding-right: 10px"><%= r.title %></td>
            <td style="padding-left: 10px;padding-right: 10px;border: 2px solid white"><%= r.rating %></td>
            <td style="padding-left: 10px;padding-right: 10px;border: 2px solid white"><%= r.review %></td>
          
        </tr>
      

          <% }); %>
      </table>
    </form>

<!--       <div id="tablediv" style="display: inline-block;float: left;margin-left: 200px">
      <strong> Most Popular </strong>
      <table id="tablet" style="padding: 10px">
        <th> Name </th>
        <th> Rating </th>
        <tr>
          <td>movie name</td>
          <td>rating of movie</td>
        </tr>
      </table>
      </div>
 -->

	</div>
</body>
</html>