<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Social Scene</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
  <header key="splash_screen">
    <div class="App-header" onclick="window.location.href='/user'" style="cursor:pointer;">
      SocialScene
    </div>
    <div class="header_div">
    <table class="user_div_table">
        <tr>
          <td style="font-size: 20px;" align="left">
            <table>
              <tr>
                <td colspan="3" align="center">
                  <%= fname %> <%= lname %><br/>
                </td>
              </tr>
              <tr>
                <td><button class="button user_div_user_bttn1" onclick="window.location.href='/logout'"> Logout </button></td>
                <td><button class="button user_div_user_bttn1" onclick="window.location.href='/edituser'"> Edit Info </button></td>
                <td><button class="button user_div_user_bttn1" onclick="window.location.href='/friends'"> Friends </button></td>
              </tr>
            </table>
          </td>
          <td></td>
          <td rowspan="2">
              <div style="display: inline-block;float: right;">
              <!-- a search box -->
                <form method= 'post'>
                  <input type="text" name="keyword" placeholder =" Enter Keyword to search" style="border-radius: 10px; width: 200px" required>
                  <input type="hidden" name="pg" value="1">
                  <table style="margin:auto;" align="center">
                    <td><button class="button user_div_user_bttn" formaction="/searchmv">Search Movies</button></td>
                    <td><button class="button user_div_user_bttn" formaction="/searchtv">Search TV</button></td>
                  </table>
                </form>
              </div>
          </td>
        </tr>
      </table>
    </div>
  </header>

  <br/>
  <div>
    <table class="display" style="border-collapse: collapse;">
      <th style="padding-left: 10px;padding-right: 10px;border: 2px solid black"> ID </th>
      <th style="padding-left: 10px;padding-right: 10px;border: 2px solid black"> Category </th>
      <th style="padding-left: 10px;padding-right: 10px;border: 2px solid black"> Movie&nbsp;Name </th>
      <th style="padding-left: 10px;padding-right: 10px; border: 2px solid black"> Rating </th>
      <th style="padding-left: 10px;padding-right: 10px; border: 2px solid black"> Review </th>
      <% var n = rows.length;%>
      <% for (var i=0; i<n ; i++) { %>
      <% r = rows[i]; %>
      <tr style="padding-left: 10px;padding-right: 10px;border: 2px solid black">
          <td style="padding-left: 10px;padding-right: 10px"><%= r.id %></td>
          <td style="padding-left: 10px;padding-right: 10px;border: 2px solid black"><%= r.category %></td>
          <td style="color:red; padding-left: 10px;padding-right: 10px;border: 2px solid black"
          onclick="document.forms[<%=i+1%>].submit()"><%= r.title %></td>
          <td style="padding-left: 10px;padding-right: 10px;border: 2px solid black"><%= r.rating %></td>
          <td style="padding-left: 10px;padding-right: 10px;border: 2px solid black"><%= r.review %></td>

          <form name='<%=r.id%>' method="post" action="/details_rev">
            <input type="hidden" name="category" value="<%=r.category%>">
            <input type="hidden" name="id" value="<%=r.id%>">
          </form>
      </tr>
        <% }; %>
    </table>
	</div>
</body>
</html>


<!-- 
    <table class="display" style="border-collapse: collapse; border: 2px solid white; border-radius: 10px">
      <th style="display: none; padding-left: 10px;padding-right: 10px;border: 2px solid black"> ID </th>
      <th style="display: none; padding-left: 10px;padding-right: 10px;border: 2px solid black"> Category </th>
      <th style="padding-left: 10px;padding-right: 10px;border: 2px solid white"> Friend&nbsp;Name </th>
      <th style="padding-left: 10px;padding-right: 10px;border: 2px solid white"> Movie&nbsp;Name </th>
      <th style="padding-left: 10px;padding-right: 10px; border: 2px solid white"> Rating </th>
      <th style="padding-left: 10px;padding-right: 10px; border: 2px solid white"> Review </th>
      <% var n = rows.length;%>
      <% if (n == 0){%>
        <tr style="text-align: center; margin: auto">
          <td colspan="4" >No Reviews Yet</td>
        </tr>
        <%}else{%>
      
        
      <% for (var i=0; i<n ; i++) { %>
      <% r = rows[i]; %>
      <tr style="padding-left: 10px;padding-right: 10px;border: 2px solid black">
        <td style="display: none; padding-left: 10px;padding-right: 10px"><%= r.id %></td>
        <td style="display: none; padding-left: 10px;padding-right: 10px;border: 2px solid white"><%= r.category %></td>
        <td style="padding-left: 10px;padding-right: 10px;border: 2px solid white"><%= user.fname %> <%= user.lname %></td>
        <td style="cursor:pointer; padding-left: 10px;padding-right: 10px;border: 2px solid white" onclick="document.forms[<%=i+1%>].submit()"><%= r.title %></td>
        <td style="padding-left: 10px;padding-right: 10px;border: 2px solid white"><%= r.rating %></td>
        <td style="padding-left: 10px;padding-right: 10px;border: 2px solid white"><%= r.review %></td>

        <form name='<%=r.id%>' method="post" action="/details_rev">
        <input type="hidden" name="category" value="<%=r.category%>">
        <input type="hidden" name="id" value="<%=r.id%>">
        </form>
      </tr>
    <% }; %>
  <% }; %>
  </table>
   -->