<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Social Scene</title>
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>
<body>
  <%const base = 'https://image.tmdb.org/t/p/w185';%>
  <header key="splash_screen">
    <div class="App-header" onclick="window.location.href='/user'" style="cursor:pointer;">
      SocialScene
    </div>
    <div class="header_div">
    <table class="user_div_table">
        <tr>
          <td style="font-size: 20px;" align="left">
            <table>
              <tr>
                <td colspan="3" align="center">
                  <%= fname %> <%= lname %><br/>
                </td>
              </tr>
              <tr>
                <td><button class="button user_div_user_bttn1" onclick="window.location.href='/logout'"> Logout </button></td>
                <td><button class="button user_div_user_bttn1" onclick="window.location.href='/edituser'"> Edit Info </button></td>
                <td><button class="button user_div_user_bttn1" onclick="window.location.href='/friends'"> Friends </button></td>
              </tr>
            </table>
          </td>
          <td></td>
          <td rowspan="2">
              <div style="display: inline-block;float: right;">
              <!-- a search box -->
                <form method= 'post'>
                  <input type="text" name="keyword" placeholder =" Enter Keyword to search" style="border-radius: 10px; width: 200px" required>
                  <input type="hidden" name="pg" value="1">
                  <table style="margin:auto;" align="center">
                    <td><button class="button user_div_user_bttn" formaction="/searchmv">Search Movies</button></td>
                    <td><button class="button user_div_user_bttn" formaction="/searchtv">Search TV</button></td>
                  </table>
                </form>
              </div>
          </td>
        </tr>
      </table>
    </div>
  </header>

  <br/>
  <% var n = rows.length;%>
  <%if (n !=0){%>
    <!-- review table -->
    <div>
      <table class="display" style="border-collapse: collapse;">
        <!-- column names -->
        <th style="padding-left: 10px;padding-right: 10px;border: 2px solid black"> ID </th>
        <th style="padding-left: 10px;padding-right: 10px;border: 2px solid black"> Category </th>
        <th style="padding-left: 10px;padding-right: 10px;border: 2px solid black"> Movie&nbsp;Name </th>
        <th style="padding-left: 10px;padding-right: 10px; border: 2px solid black"> Rating </th>
        <th style="padding-left: 10px;padding-right: 10px; border: 2px solid black"> Review </th>
        <!-- displaying the data -->
        <% for (var i=0; i<n ; i++) { %>
        <% r = rows[i]; %>
        <tr class="rev_display" style="padding-left: 10px;padding-right: 10px;border: 2px solid black">
            <td style="padding-left: 10px;padding-right: 10px"><%= r.id %></td>
            <td style="padding-left: 10px;padding-right: 10px;border: 2px solid black"><%= r.category %></td>
            <td class="title" style="cursor:pointer; padding-left: 10px;padding-right: 10px;border: 2px solid black" onclick="document.forms[<%=i+1%>].submit()"><%= r.title %></td>
            <td style="padding-left: 10px;padding-right: 10px;border: 2px solid black"><%= r.rating %></td>
            <td style="padding-left: 10px;padding-right: 10px;border: 2px solid black"><%= r.review %></td>

            <!-- data for detailed page -->
            <form name='<%=r.id%>' method="post" action="/details_rev">
              <input type="hidden" name="category" value="<%=r.category%>">
              <input type="hidden" name="id" value="<%=r.id%>">
            </form>
        </tr>
          <% }; %>
      </table>
  	</div>
  <%};%>

  <!-- popular movie -->
  <h3 style="color: red;">Popular Movies</h3>
  <div class="popular">
    <%var m =popularmv.length%>
    <% for (var i=0; i<m ; i++) { %>
      <div class="collection" onmouseout='this.style.opacity=1' onmouseover='this.style.opacity=0.5' onclick='document.forms[<%=i%>].submit()'>
        <% r = popularmv[i]; %>
        <%= r.title %><br>
        <%if(r.poster_path == null){%>
          <img src = '/noimg.jpg'>
        <%}else{%>
          <%var url = base + r.poster_path%>
          <img src= '<%=url%>'>
        <%};%>
      </div>
    <%};%>
  </div>

  <!-- popular tv shows -->
  <h3 style="color: red;">Popular TV Shows</h3>
  <div class='popular'>
    <%var m =populartv.length%>
    <% for (var i=0; i<m ; i++) { %>
      <div class="collection" onmouseout='this.style.opacity=1' onmouseover='this.style.opacity=0.5' onclick='document.forms[<%=i%>].submit()'>
        <% r = populartv[i]; %>
        <%= r.name %><br>
        <%if(r.poster_path == null){%>
          <img src = '/noimg.jpg'>
        <%}else{%>
          <%var url = base + r.poster_path%>
          <img src= '<%=url%>'>
        <%};%>
      </div>
    <%};%>
  </div>

</body>
</html>